@media only screen and (min-width: 1024px) {
 
    .pg-home {

        .section {
            .container {
                margin-left: 200px;
            }
        }
        .section__hero {
            height: 60rem;
            .container {
                padding: 60px 0;
                
                .heroImage {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 60rem;
                    width: 100vw;

                    img.heroImage-m {
                        display: none;
                    }

                    img.heroImage-d {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .heroTitle {
                    max-width: none;
                }
                 
                
            }
        }

        .section__wedo {
            .row {
                .wedo__cards {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                   

                    .card__item {
                        max-width: 450px;
                    }
                }
            }
        }

        .section__work {
            .container {
                .row {
                    .section__work--content {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 0 20px;

                        .work__item {
                            max-width: 600px;

                        }
                    }
                }
            }
        }
    }

    footer {
        .container {
                margin-left: 200px;
        }
    }


  }